body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    color: black;
}

h1 {
    padding: 32px;
}

h2 {
    color:dimgray;
    text-align: left;
    padding-left: 32px;;
}

li {
    list-style: none;
    padding: 8px;
}

p {
    padding: 7px;
}

.overview, .bio {
    background-color: dimgray;
    color: white;
}

.overview *, .bio * {
    margin:0;
}

.flex-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
}

.projects * {
    margin: auto;
}

.projects ul li {
    list-style: none;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    border: 1px solid dimgray;
}

.contact ul li {
    list-style: none;
    display: inline;
    padding: 16px;
}
